@model List<TestBlog.Models.Blog>

@{
    ViewData["Title"] = "Blog";
}

<div class="row justify-content-center">
    <div class="col-lg-8">
        <a href="/Blog/Create" class="btn btn-sm btn-primary rounded-0">Create Blogs</a>
    </div>

    <table class="table">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Intro</th>
            <th>Category</th>
            <th></th>
        </tr>
        @foreach (var blog in Model)
        {
            <tr>
                <td>@blog.Id</td>
                <td>@blog.Title</td>
                <td>@blog.Intro</td>
                <td>@blog.Category.Name</td>
                <td>
                    <a href="#" class="btn btn-sm btn-warning">Edit</a>
                    <a href="#" class="btn btn-sm btn-danger">Del</a>
                </td>
            </tr>
        }
    </table>
</div>
